/*
links:
comments: http://patorjk.com/software/taag/
*/

/*__________________________________________
   _____                           _ 
  / ____|                         | |
 | |  __  ___ _ __   ___ _ __ __ _| |
 | | |_ |/ _ \ '_ \ / _ \ '__/ _` | |
 | |__| |  __/ | | |  __/ | | (_| | |
  \_____|\___|_| |_|\___|_|  \__,_|_|
____________________________________________*/

body
{
	background-color:#334c69;
	font-size: 12px !important;
}

.ui-panel
{
	width:43% !important;
    /*text-align:center;*/
	margin:auto;
}

.ui-inputswitch .ui-inputswitch-off .ui-inputswitch-on span
{
	font-size:12px !important;
	height : 20px !important;
}

.ui-panel table
{
	margin:auto;	
}

#content
{
	margin-top:20px;
}
